.hide {
  display: none;
} 

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;

  
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  display: block;
  padding: 24px 0;
  text-decoration: none;
}

.hide {
  display: none;
}

.container {
  padding: 0 16px;
  max-width: 320px;
  margin: 0 auto;
}

@media(min-width:768px){
  .container {
    max-width: 768px; 
    }
} 

@media(min-width:1158px) {
  .container {
    padding: 0 15px;
    max-width: 1158px;
  }
}

