.hero-main {
    max-width: 320px;
    padding: 72px 0;
    margin: 0 auto;
    background-color: #2e2f42;
    color: #ffffff;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
} 
.hero-main .hero-tittle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    margin: 0; 
    max-width: 216px; 
}
.button-first {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms ease-in-out;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }
.button-first:hover {
    background-color: #404bbf;
    cursor: pointer;
    
}
.button-first:focus {
    background-color: #404bbf;
}
.hero-main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    text-align: center;
} 

@media(min-width:768px){
 .hero-main {
        max-width: 768px;
        padding: 112px 0;
    }  
        .hero-main .hero-tittle {
            font-size: 56px;
            line-height: 107%;
            max-width: 496px;
        } 

        .hero-main .container {
        gap: 36px;
        } 
} 

@media(min-width:1168px) {
    .hero-main {
            max-width: 1448px;
            padding: 188px 0;
        } 
    
        .hero-main .container {
            gap: 48px;
        }
}