.team-section {
     background-color: #F4F4FD;
}

.team-section .container { 
    max-width: 320px;
    padding: 96px 15px; 
    
} 
.first-heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px; }

.team-section .team-info {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    }
 
.team-blocks {
    background-color: #ffffff;
    box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08); 
    max-width: 264px;
} 
.list-two{
    display: flex; 
    flex-direction: column; 
    gap: 72px; 
    align-items: center;
} 

.team-man {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px; 
    align-items: center; 

} 

.social-icon {
    display: flex;
    gap: 24px;
} 

.social-linking {
    background-color: #4d5ae5;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #f4f4fd;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.social-linking:hover {
    background-color: #404bbf;
}

.social-linking:focus {
    background-color: #404bbf;
}

.social-icon svg {
    fill: #f4f4fd
}


@media(min-width:768px) { 
    
.team-section .container {
        max-width: 768px;
        padding: 96px 15px;
    }
 .list-two{
    flex-direction:row; 
    flex-wrap: wrap; 
    justify-content: center;
 } 

 
} 

@media(min-width:1158px) {
    .team-section .container {
            max-width: 1158px;
            padding: 96px 15px;
    }
    
    .list-two {
            justify-content: center; 
            gap: 24px;
    }
}